body {
background-color: lightblue
}

.question {
  font-family: arial;
  margin: 10px 0 10px 0;
}
.results {

  font-family: verdana
  color: lightgrey
  border: 1px solid;
  padding: 10px;
  margin-bottom: 10px;
}
